[submodule "deps/limbo"]
	path = deps/limbo
	url = https://github.com/resibots/limbo.git
[submodule "deps/robot_dart"]
	path = deps/robot_dart
	url = https://github.com/resibots/robot_dart.git
[submodule "deps/dart"]
	path = deps/dart
	url = https://github.com/dartsim/dart.git
[submodule "deps/libcmaes"]
	path = deps/libcmaes
	url = https://github.com/resibots/libcmaes.git
[submodule "deps/simple_nn"]
	path = deps/simple_nn
	url = https://github.com/resibots/simple_nn.git
